
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Montserrat
}

select,input,textarea{
  border: 1px solid #c2c2c2;
  outline-color: #C58645;
  border-radius: 4px;
}
.active {
background-color: #ffebf5;
border-color: #c586a5
}


